@use "../../styles/library";
@use "../../styles/theme";

.storybook-checkbox {
    display: inline-flex;
    position: relative;
    padding: 7px 0;
    align-items: center;
    gap: library.$padding-normal;

    color: library.$color-black;
    font-feature-settings: 'rclt' off;

    /* Body */
    font-family: theme.$font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.storybook-checkbox-text {
    padding-bottom: 2px;
}

.storybook-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.storybook-checkbox .checkmark {
    border-radius: library.$padding-small;
    border: 1px solid library.$color-dark-gray;
    background: library.$color-white;
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.storybook-checkbox input:checked  ~ .checkmark {
    background: theme.$color-primary-hover;
    border: 1px solid theme.$color-primary-hover;
}

.storybook-checkbox .checkmark:after {
    content: url("../../../public/assets/check.svg");
    position: absolute;
    display: none;
}

.storybook-checkbox input:checked ~ .checkmark:after {
    display: flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
}
