body {
  margin: 0;
}

.App {
  display: flex;
  column-gap: 32px;
  box-sizing: content-box;
  justify-content: space-between;
  padding: 0 16px;
  background: #fafafa;
}

.left-navigation {
  position: sticky;
  top: 0;
  display: inline-flex;
  padding: 16px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: min-content;
}

.navigation-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  align-self: stretch;
}

.profile-container {
  display: inline-flex;
  padding-left: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-container .profile {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}
.profile-container .profile .profile-picture {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}
.profile-container .profile .profile-text {
  display: flex;
  padding-bottom: 2px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  color: black;
  font-feature-settings: "rclt" off;
  font-family: "Segoe UI Variable", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.profile-buttons-container {
  display: flex;
  align-items: flex-start;
}

.search-container {
  display: flex;
  width: 288px;
  padding: 8px 8px 8px 10px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #989898;
  background: white;
  cursor: text;
}

.search-input {
  color: black;
  font-feature-settings: "rclt" off;
  font-family: "Segoe UI Variable", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  flex: 1 0 0;
  outline: none;
  border: none;
}

.arrow-block-up {
  display: flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.04);
}

.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.section-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid #989898;
  background: white;
  height: min-content;
  overflow: hidden;
  flex: 1 1 auto;
}

.section-navigation {
  position: relative;
  margin-top: -1px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid #989898;
  background: #fafafa;
}

.section-tab-switch {
  display: flex;
  padding: 24px 32px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.pagenav-buttons {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.tab-switch-header {
  color: black;
  font-family: "Segoe UI Variable", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  flex: 1 0 0;
  margin: 0;
}

.user-config, .user-additional {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-config-menu, .user-additional-menu {
  display: flex;
  padding: 32px;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid #989898;
}

.user-config-content, .user-additional-content {
  display: flex;
  padding: 0 32px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.buttons-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.buttons-actions {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.buttons-save {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.inline-container {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.checkbox-container {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.container-extra {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.button-link {
  display: flex;
  padding: 7px 0 9px 0;
  align-items: flex-start;
  gap: 8px;
  color: #406abf;
  font-feature-settings: "rclt" off;
  font-family: "Segoe UI Variable", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.offset-list {
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.password-label {
  display: flex;
  padding: 7px 0 9px 0;
  align-items: flex-start;
  gap: 8px;
  color: black;
  font-feature-settings: "rclt" off;
  font-family: "Segoe UI Variable", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/*# sourceMappingURL=App.css.map */
