.storybook-tabpage {
    position: relative;
    top: 1px;
    display: flex;
    min-width: 80px;
    max-height: 36px;
    padding: 9px 12px 10px 12px;
    align-items: center;
    gap: var(--padding-normal, 8px);
    cursor: pointer;
    border: none;
    border-right: 1px solid var(--color-dark-gray, #989898);
    border-bottom: 1px solid var(--color-dark-gray, #989898);
    background: var(--color-light-gray, #FAFAFA);
    outline: none;
    color: var(--color-black, #000);

    font-family: var(--font-family), sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    &:hover:not(.storybook-tabpage--active) {
        background: var(--color-gray, #D6D6D6);
    }
}

.storybook-tabpage--home {
    display: inline-flex;
    min-width: unset;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: var(--padding-normal, 8px);
}

.storybook-tabpage--active {
    border-bottom: 1px solid var(--color-white, #FFF);
    background: var(--color-white, #FFF);
    z-index: 1;
}

.storybook-tabpage-close {
    display: none;
    padding: 6px var(--padding-normal, 8px) 6px var(--padding-small, 4px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0;
    z-index: 2;
}

.storybook-tabpage:hover .storybook-tabpage-close {
    display: flex;
}

.storybook-tabpage:hover:not(.storybook-tabpage--active)  .storybook-tabpage-close {
    background: var(--color-gray, #D6D6D6);
    box-shadow: -8px 0 8px 0 #E6E6E6;
}

.storybook-tabpage--active:hover .storybook-tabpage-close {
    background: var(--color-white, #FFF);
    box-shadow: -8px 0 8px 0 #FFF;
}
